//
   Created with JetBrains WebStorm.
   User: neo
   Date: 13-6-2
   Time: 下午12:40
   To change this template use File | Settings | File Templates.

.mod-ucenter-content.clearfix
    dl.mod-ucenter-cleft.mod-ucenter-dl
        dt
            | 快速通道
            dd
                ul
                    li
                        a(href='', target='_blank') 账号信息
                    li
                        a(href='', target='_blank') 修改密码
                    li
                        a(href='', target='_blank') 角色转生
                    li
                        a(href='', target='_blank') 宠物转生
                    li
                        a(href='', target='_blank') 装备管理
                    li
                        a(href='', target='_blank') 宠物管理