extends layout
block head
    link(rel='stylesheet', href='/stylesheets/style.css')
block content
    .mod-ucenter.clearfix
        include carte.jade
        .mod-ucenter-cright
            dl.mod-ucenter-dl(style="height:200px;")
                dt
                    | 账户信息
                    dd.mod-notice
                        .mod-notice-tip.f14.hide
                        ul.mod-notice-list.clearfix
                            li
                                span.mod-notice-name.left 私信提醒
                                span.left 对于没有绑定邮箱的账号，当发生异地登录等异常情况时，系统会自动发送私信提醒
                                span.mod-ucenter-btn(s='msg', f='0') 关闭服务
                            li
                                span.mod-notice-name.left 邮箱提醒
                                span.left 当账号发生异地登录，被盗等异地情况或其他重要操作时，系统会自动发送邮件提醒
                                span.mod-ucenter-btn1(s='email', f='1') 立即开通

            dl.mod-ucenter-dl(style="height:200px;margin-top:5px;")
                dt
                    | 角色信息
                    dd.mod-notice
                        .mod-notice-tip.f14.hide
                        ul.mod-notice-list.clearfix
                            li
                                span.mod-notice-name.left 私信提醒
                                span.left 对于没有绑定邮箱的账号，当发生异地登录等异常情况时，系统会自动发送私信提醒
                                span.mod-ucenter-btn(s='msg', f='0') 关闭服务
                            li
                                span.mod-notice-name.left 邮箱提醒
                                span.left 当账号发生异地登录，被盗等异地情况或其他重要操作时，系统会自动发送邮件提醒
                                span.mod-ucenter-btn1(s='email', f='1') 立即开通
            dl.mod-ucenter-dl(style="height:200px;margin-top:5px;")
                dt
                    | 游戏产品
                    dd.mod-notice
                        .mod-notice-tip.f14.hide
                        ul.mod-notice-list.clearfix
                            li
                                span.mod-notice-name.left 私信提醒
                                span.left 对于没有绑定邮箱的账号，当发生异地登录等异常情况时，系统会自动发送私信提醒
                                span.mod-ucenter-btn(s='msg', f='0') 关闭服务
                            li
                                span.mod-notice-name.left 邮箱提醒
                                span.left 当账号发生异地登录，被盗等异地情况或其他重要操作时，系统会自动发送邮件提醒
                                span.mod-ucenter-btn1(s='email', f='1') 立即开通