extends layout
block head
    link(rel='stylesheet', href='/stylesheets/reset.css')
block content
    .mod-reset
        ul.mod-sub-nav
            li.mod-sub-list1 注册
            li.mod-sub-list2 登录
            li.mod-sub-list3 进入游戏
        .mod-step-detail
            form#form-auth(action='', method='post')
                p.step-form-tip 凡人修仙
                .step-form
                    .pass-input-container.clearfix
                        input.pass-input(type='text', name='username', value='')
                        span.pass-input-msg 请输入账号
                    .pass-input-container.clearfix
                        input.pass-input(type='password', name='password', value='')
                        span.pass-input-msg 请输入密码
                    .pass-input-container.clearfix
                        input.pass-input(type='password', name='repassword', value='')
                        span.pass-input-msg 请输入确认密码
                    div
                        input#submit-auth.pass-button-submit(type='submit', name='', value='登  录')
    script
        $('.pass-input').keydown(function(){
            var el = $(this).next();
            //el.hide();
        })
